<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CodeUp Tutors</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/tutorList.css" />
    <link rel="stylesheet" href="../css/tutorListingElem.css" />
    <link rel="stylesheet" href="../css/chatbox.css" />
    <link rel="stylesheet" href="../css/socialMediaIcons.css" />
    <link rel="stylesheet" href="../css/filter.css" />
    <link rel="stylesheet" href="../css/search.css" />
    <link rel="stylesheet" href="../css/nav.css" />



    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>
  <body>
      <% include ../partials/header %>

      <!-- Tutor List -->
      <div class="container">
        <div class="row">
            <div class="col-sm-3 hidden-xs">
                <div class="list-group">
                  <div id="myBtnContainer">
                    <a onclick="filterSelection('all')" class="list-group-item">all</a>
                    <a onclick="filterSelection('JAVA')" class="list-group-item">JAVA</a>
                    <a onclick="filterSelection('Python')" class="list-group-item">Python</a>
                  </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
                    <div class="col-sm-2 text-right">
                        <label class="control-label" for="input-sort">Sort By:</label>
                    </div>
                    <div class="col-sm-3 text-right">
                        <select id="input-sort" class="form-control">
                        <option value="" selected="selected">Default</option>
                        <option value="">Name</option>
                        <option value="">Date</option>
                      </select>
                    </div>
                    <div class="col-sm-1 text-right">
                        <label class="control-label" for="input-limit">Show:</label>
                    </div>
                    <div class="col-sm-2 text-right">
                        <select id="input-limit" class="form-control">
                        <option value="" selected="selected">9</option>
                        <option value="">15</option>
                        <option value="">25</option>
                        <option value="">50</option>
                        <option value="">100</option>
                      </select>
                    </div>
                </div>
                <br>
                <div class="row" id="tutorList">
                  <% tutors.forEach(function(tutor) { %>
                    <!-- Product Item -->
                    <div class="tutorElem">
                    <div class="filterDiv <% tutor.skills.forEach(function(skill){ %><%= skill %> <%  });%>">
                      <div class="product-list col-md-12">
                          <div class="product-item">
                              <div class="image">
                                <a href="#"><img src="../images/<%= tutor.image %>" alt="<%= tutor.image %>"></a>
                                  <!-- <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Product 1"></a> -->
                              </div>
                              <div class="caption">
                                <div class="name">
                                    <form id="tutor_details_form<%= tutor.id %>" action="/tutor_detail" method="GET">
                                        <input type="hidden" name="username" value=<%= username %> />
                                        <input type="hidden" name="tutor_id" value="<%= tutor.id %>"/>
                                        <button type="submit" form="tutor_details_form<%= tutor.id %>"><%= tutor.first_name %> <%= tutor.last_name %></button>
                                    </form>
                                </div>
                                <div class="description">
                                    <p><%= tutor.shorter_detail %></p>
                                    <span><strong>Skills: </strong></span>
                                    <% tutor.skills.forEach(function(skill){ %>
                                      <span class="label label-success"><%= skill %></span>
                                      <%  });
                                    %>
                                </div>
                                <div class="rating">
                                  <%
                                    var stars = 0;
                                    for(var i=0; i < Math.floor(tutor.ratings/1) && i < 5; i++) {
                                      stars ++;
                                      %><i class="fa fa-star fa-lg"></i><%
                                    }
                                    var last_star_value = tutor.ratings%1;
                                    if (stars < 5) {
                                      stars ++;
                                      if (last_star_value < 0.25) {
                                        %><i class="fa fa-star-o fa-lg"></i><%
                                      } else if (last_star_value > 0.25 && last_star_value < 0.75) {
                                        %><i class="fa fa-star-half fa-lg"></i><%
                                      } else {
                                        %><i class="fa fa-star fa-lg"></i><%
                                      }
                                    }
                                    while (stars < 5) {
                                      stars ++;
                                      %><i class="fa fa-star-o fa-lg"></i><%
                                    }
                                  %>
                                </div>
                                <div class="price">
                                    <span>£<%= tutor.rate_per_hour %>/hour</span>
                                </div>
                                <div class="contactAndCodeup">
                                  <div class ="col-sm-1 nopadding">
                                    <div id="<%= tutor.id %>">
                                        <span style="display:none"><%= tutor.first_name %> <%= tutor.last_name %></span>
                                        <button type="button" class="btn contact btn-success disabled">Contact</button>
                                    </div>
                                  </div>
                                  <div class ="col-sm-2">
                                    <form id="code_form<%= tutor.id %>" class="code-form" action="/code" method="GET">
                                        <input type="hidden" name="username" value=<%= username %> />
                                        <input type="hidden" name="tutorID" value="<%= tutor.id %>"/>
                                        <button type="submit" form="code_form<%= tutor.id %>" class="btn btn-success">Code Up</button>
                                    </form>
                                  </div>
                                  <div class="socialMediaContacts">
                                    <a href="http://m.me/<%= tutor.facebook %>"><i class="fa fa-facebook"></i></a>
                                    <a href="skype:<%= tutor.skype_id %>?call"><i class="fa fa-skype"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                    <!--/ Product Item -->
                    <% }); %>
                </div>
            </div>
        </div>
      </div>




      <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
      <script src="https://code.jquery.com/jquery-latest.min.js"></script>
      <!-- Socket.io JS -->
      <script src="/socket.io/socket.io.js"></script>
      <!-- Link to chatbox javascript -->
      <script src="../js/chatbox.js"></script>
      <!-- Link to filter javascript -->
      <script src="../js/filter.js"></script>
      <script src="../js/search.js"></script>



  </body>
</html>
